.container {
    padding: 15vh;
    padding-top: 2vh;

}

.Challenge-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid brown;
    height: 50vh;
    width: 150vh;
    margin-bottom: 2vh;
}

.Challenge-1 .div-container {
    color: white;
    background-color: black;
    height: 20vh;
    width: 20vh;
}

.Challenge-1 .flex-1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Challenge-2 {
    display: flex;
    flex-direction: column;
    border: solid brown;
    margin-bottom: 2vh;
    width: 150vh;
    height: 70vh;
}

.Challenge-2 .div-container-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.Challenge-2 .div-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Challenge-2 .div-container-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Challenge-2 .box-1 {
    background-color: black;
    color: white;
    height: 20vh;
    width: 20vh;
}

.Challenge-2 .box-2 {
    background-color: black;
    color: white;
    height: 20vh;
    width: 20vh;
}

.Challenge-2 .box-3 {
    color: white;
    background-color: black;
    height: 20vh;
    width: 20vh;
}

.Challenge-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid brown;
    height: 50vh;
    padding-top: 10px;
    margin-bottom: 2vh;
    width: 150vh;
}

.Challenge-3 .div-container {
    color: white;
    position: absolute;
}

.Challenge-3 .box-1 {
    background-color: dimgray;
    height: 20vh;
    width: 20vh;
}

.Challenge-3 .box-2 {
    margin: 5vh !important;
    align-content: center !important;
    background-color: black;
    height: 10vh;
    width: 10vh;
}

.Challenge-4 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: solid brown;
    height: 50vh;
    margin-bottom: 2vh;
    width: 150vh;
}

.Challenge-4 .div-container {
    color: white;
    position: absolute;
}

.Challenge-4 .box-1 {
    background-color: black;
    height: 20vh;
    width: 20vh;
}

.Challenge-4 .box-2 {
    position: absolute;
    top: 10vh;
    left: 10vh;
    align-content: center !important;
    background-color: dimgray;
    height: 20vh;
    width: 20vh;
}

.Challenge-5 {
    display: flex;
    flex-direction: column;
    border: solid brown;
    margin-bottom: 2vh;
    width: 150vh;
    height: 70vh;
}

.Challenge-5 .div-container-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.Challenge-5 .div-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Challenge-5 .div-container-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.Challenge-5 .box-1 {
    background-color: black;
    color: white;
    height: 20vh;
    width: 20vh;

}

.Challenge-5 .box-2 {
    background-color: black;
    color: white;
    height: 20vh;
    width: 20vh;
}

.Challenge-5 .box-3 {
    color: white;
    background-color: black;
    height: 20vh;
    width: 20vh;
}

.Challenge-6 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    border: solid brown;
    margin-bottom: 2vh;
    width: 150vh;
    height: 50vh;
}

.Challenge-6 .div-container-1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    background-color: dimgrey;
    margin-top: 10vh;
    margin-left: 40vh;
    height: 40vh;
    width: 60vh;
}

.Challenge-6 .box-1 {
    background-color: black;
    height: 20vh;
    width: 20vh;

}

.Challenge-6 .box-2 {
    background-color: black;
    height: 20vh;
    width: 20vh;

}

.Challenge-6 .flex-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Challenge-7 {
    height: 50vh;
    border: solid brown;
    color: white;
    margin-bottom: 2vh;
    width: 150vh;
}

.Challenge-7 .div-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: dimgrey;
    height: 30vh;
    width: 30vh;
}

.Challenge-7 .box-1 {
    background-color: black;
    height: 15vh;
    width: 15vh;

}

.Challenge-7 .div-container-2 {
    display: flex;
    justify-content: flex-end;
}

.Challenge-8 {
    height: 50vh;
    width: 150vh;
    border: solid brown;
    color: white;
    margin-bottom: 2vh;

}

.Challenge-8 .div-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: dimgrey;
    height: 30vh;
    width: 30vh;
}

.Challenge-8 .box-1 {
    background-color: black;
    height: 15vh;
    width: 15vh;

}

.Challenge-8 .div-container-2 {
    display: flex;
    justify-content: flex-end;
}

.Challenge-9 {
    height: 50vh;
    width: 150vh;
    border: solid brown;
    color: white;
    margin-bottom: 2vh;
}

.Challenge-9 .div-container-1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: dimgrey;

    height: 40vh;
    width: 30vh;
}

.Challenge-9 .box-1 {
    background-color: black;
    height: 15vh;
    width: 15vh;

}

.Challenge-9 .box-2 {
    background-color: black;
    height: 15vh;
    width: 15vh;

}

.Challenge-9 .flex-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Challenge-10 {
    height: 50vh;
    width: 150vh;
    border: solid brown;
    color: white;
    margin-bottom: 2vh;
}

.Challenge-10 .div-container-1 {
    gap: 50px;
    background-color: dimgrey;
    margin: 4vh 50vh 50vh;
    height: 30vh;
    width: 70vh;
}

.Challenge-10 .box-1 {
    background-color: black;
    height: 15vh;
    width: 15vh;

}

.Challenge-10 .box-2 {
    background-color: black;
    height: 15vh;
    width: 15vh;

}

.Challenge-10 .flex-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3vh;
}

.Challenge-11 {
    height: 50vh;
    width: 150vh;
    border: solid brown;
    color: white;
    margin-bottom: 2vh;
}

.Challenge-11 .div-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: dimgrey;
    height: 40vh;
    width: 30vh;
}

.Challenge-11 .flex-1 {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    height: 20vh;
    width: 15vh;
    margin-left: 15vh;
}

.Challenge-11 .box-1 {
    background-color: grey;
    height: 10vh;
    width: 10vh;
    margin: 6vh 4vh 3vh;
}

.Challenge-12 {
    height: 70vh;
    width: 150vh;
    border: solid brown;
    color: white;
    margin-bottom: 2vh;
}

.Challenge-12 .div-container-1 {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    background-color: dimgrey;

    height: 40vh;
    width: 20vh;
}

.Challenge-12 .div-container-2 {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    height: 25vh;
    width: 20vh;
    margin-left: 10vh;
}

.Challenge-12 .box-2 {
    background-color: grey;
    height: 17vh;
    width: 17vh;
    margin: 18vh 19vh 10vh -4vh;
}

.Challenge-13 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: solid brown;
    height: 70vh;
    width: 150vh;
    margin-bottom: 2vh;

}

.Challenge-13 .div-container {
    color: white;
    position: absolute;
}

.Challenge-13 .box-1 {

    background-color: black;
    height: 20vh;
    width: 20vh;
}

.Challenge-13 .box-2 {
    position: absolute;
    top: 6vh;
    left: 6vh;
    align-content: center !important;
    background-color: dimgray;
    height: 20vh;
    width: 20vh;
}

.Challenge-13 .box-3 {
    position: absolute;
    top: 12vh;
    left: 12vh;
    align-content: center !important;
    background-color: black;
    height: 20vh;
    width: 20vh;
}

.Challenge-13 .box-4 {
    position: absolute;
    top: 18vh;
    left: 18vh;
    align-content: center !important;
    background-color: grey;
    height: 20vh;
    width: 20vh;
}

.Challenge-13 .box-5 {
    position: absolute;
    top: 24vh;
    left: 24vh;
    align-content: center !important;
    background-color: black;
    height: 20vh;
    width: 20vh;
}

.Challenge-14 {
    height: 50vh;
    width: 150vh;
    border: solid brown;
    color: white;
    margin-bottom: 2vh;
}

.Challenge-14 .div-container-1 {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    background-color: dimgrey;
    margin-left: 120vh;
    height: 30vh;
    width: 30vh;
}

.Challenge-14 .box-1 {
    background-color: black;
    height: 15vh;
    width: 15vh;

}

.Challenge-14 .div-container-2 {
    display: flex;
    justify-content: flex-start;
}

.Challenge-15 {
    height: 70vh;
    width: 150vh;
    border: solid brown;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 5vh;
    margin-bottom: 2vh;
}

.Challenge-15 .box-1 {
    height: 30vh;
    width: 30vh;
    background-color: dimgrey;
}

.Challenge-15 .box-3 {
    height: 15vh;
    width: 15vh;
    background-color: black;
    margin-top: 5vh;
}

.Challenge-15 .box-2 {
    height: 15vh;
    width: 15vh;
    background-color: black;
    margin-left: 18vh;
}

.Challenge-15 .box-4 {
    height: 25vh;
    width: 30vh;
    background-color: dimgrey;
    margin-top: 5vh;
}